@model ShoesProject.Models.Permisson

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Permisson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Business.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Business.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermissonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermissonDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissonDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PermissonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
