@model IEnumerable<ShoesProject.Models.Permisson>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermissonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermissonDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Business.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermissonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermissonDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PermissonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PermissonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PermissonId })
        </td>
    </tr>
}

</table>
