@model ShoesProjectModels.Model.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- BSTORE-BREADCRUMB START -->
            <div class="bstore-breadcrumb">
                <a href="@Url.Action("Index","Home")">HOME<span><i class="fa fa-caret-right"></i> </span> </a>
                <span> <i class="fa fa-caret-right"> </i> </span>
                <a href="@Url.Action("Index","ListProduct")"> women </a>
                <span> @Model.ProductName </span>
            </div>
            <!-- BSTORE-BREADCRUMB END -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <!-- SINGLE-PRODUCT-DESCRIPTION START -->
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                    <div class="single-product-view">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            @foreach (var images in ViewBag.Images)
                            {

                                <div class="tab-pane  @(images == ViewBag.ImagesFirst ? "active" : "")" id="@images.ProductImageId">
                                    <div class="single-product-image">
                                        <img src="~/Admin/Content/ProductImages/@images.ProductId/@images.Image" alt="single-product-image" />
                                        <a class="new-mark-box" href="#">new</a>
                                        <a class="fancybox" href="~/Admin/Content/ProductImages/@images.ProductId/@images.Image" data-fancybox-group="gallery"><span class="btn large-btn">View larger <i class="fa fa-search-plus"></i></span></a>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="select-product">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs select-product-tab bxslider">
                            @foreach (var images in ViewBag.Images)
                            {
                                <li class=" @(images == ViewBag.ImagesFirst ? "active" : "") ">
                                    <a href="#@images.ProductImageId" data-toggle="tab"><img src="~/Admin/Content/ProductImages/@images.ProductId/@images.Image" alt="pro-thumbnail" /></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                    <div class="single-product-descirption">
                        <h2>@Model.ProductName</h2>
                        <div class="single-product-review-box">

                            <div class="read-reviews">
                                <a href="#">Read reviews (1)</a>
                            </div>
                            <div class="write-review">
                                <a href="#">Write a review</a>
                            </div>
                        </div>
                        <div class="single-product-condition">
                            @if (Model.ProductDiscount > 0)
                            {
                                <p>Sale: <span>@Model.ProductDiscount</span></p>
                                <p>Old price: <span class="old-price">@String.Format("{0:0,0 vnđ}", Model.ProductPrice)</span></p>
                            }
                        </div>
                        <div class="single-product-price">
                            <h2>
                                @if (Model.ProductDiscount > 0)
                                {
                                    @String.Format("{0:0,0 vnđ}", (Model.ProductPrice - (Model.ProductPrice * Model.ProductDiscount) / 100))
                                }
                                else
                                {
                                    @String.Format("{0:0,0 vnđ}", Model.ProductPrice)
                                }
                            </h2>
                        </div>
                        <div class="single-product-desc">
                            <p>@Model.ProductDescription</p>
                            <div class="product-in-stock">
                                <p>@Model.Instock Items<span>In stock</span></p>
                            </div>
                        </div>
                        <div class="single-product-quantity">
                            <p class="small-title">Quantity</p>
                            <div class="cart-quantity">
                                <div class="cart-plus-minus-button single-qty-btn">
                                    <input class="cart-plus-minus sing-pro-qty" type="text" name="qtybutton" value="0">
                                </div>
                            </div>
                        </div>
                        <form method="get" action="~/MyCart/AddCart">
                            @Html.Hidden("id", Model.ProductId)
                            <div class="single-product-size">
                                <p class="small-title">Size </p>
                                <select name="sizeId" id="sizeId">
                                    @foreach (var size in ViewBag.Size)
                                    {
                                        <option name="SizeId" id="SizeId" value="@size.SizeId">@size.SizeValue</option>
                                    }
                                </select>
                            </div>
                            <div class="single-product-color">
                                <p class="small-title">Color </p>
                                @foreach (var color in ViewBag.Color)
                                {
                                    <a class="color-blue">
                                        <span style="background-color:@color.ColorValue">
                                        <input type="radio" name="colorId" id="colorId" value="@color.ColorId" style="width:100%    " />
                                        </span>
                                    </a>
                                }
                            </div>
                            <div class="single-product-add-cart">
                                @*<a class="add-cart-text" title="Add to cart" href="@Url.Action("AddCart", "ProductDetail")">Add to cart</a>*@
                                <input type="submit" value="AddCart" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- SINGLE-PRODUCT-DESCRIPTION END -->
            <!-- SINGLE-PRODUCT INFO TAB START -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="product-more-info-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs more-info-tab">
                            <li class="active"><a href="#moreinfo" data-toggle="tab">more info</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="moreinfo">
                                <div class="tab-description">
                                    <p>@Model.ProductDescription</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- SINGLE-PRODUCT INFO TAB END -->
            <!-- RELATED-PRODUCTS-AREA START -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="left-title-area">
                        <h2 class="left-title">related products</h2>
                    </div>
                </div>
                <div class="related-product-area featured-products-area">
                    <div class="col-sm-12">
                        <div class="row">
                            <!-- RELATED-CAROUSEL START -->
                            <div class="related-product">
                                <!-- SINGLE-PRODUCT-ITEM START -->
                                @foreach (var rp in ViewBag.relatedProduct)
                                {
                                    <div class="item">
                                        <div class="single-product-item">
                                            <div class="product-image">
                                                <a href="@Url.Action("Index", "ProductDetail",new { id = @rp.ProductId })"><img src="~/Admin/Content/ProductImages/@rp.ProductId/@rp.ProductFeatureImage" alt="product-image" /></a>
                                            </div>
                                            <div class="product-info">
                                                <a href="#">@rp.ProductName</a>
                                                <div>
                                                    @if (Model.ProductDiscount > 0)
                                                    {
                                                        <p class="old-price">@String.Format("{0:0,0 vnđ}", rp.ProductPrice)</p>
                                                    }
                                                </div>
                                                <div class="price-box">
                                                    <span class="price">
                                                        @if (rp.ProductDiscount > 0)
                                                        {
                                                            @String.Format("{0:0,0 vnđ}", (rp.ProductPrice - (rp.ProductPrice * rp.ProductDiscount) / 100))
                                                        }
                                                        else
                                                        {
                                                            @String.Format("{0:0,0 vnđ}", rp.ProductPrice)
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                                <!-- SINGLE-PRODUCT-ITEM END -->
                            </div>
                            <!-- RELATED-CAROUSEL END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- RELATED-PRODUCTS-AREA END -->
        </div>
        <!-- RIGHT SIDE BAR START -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- SINGLE SIDE BAR START -->
            <div class="single-product-right-sidebar">
                <h2 class="left-title">Other products</h2>
                <ul>
                    @foreach (var ot in ViewBag.otherProduct)
                    {
                        <li>
                            <a href="@Url.Action("Index", "ProductDetail", new { id = ot.ProductId })" style="width:100px; height:100px"><img src="~/Admin/Content/ProductImages/@ot.ProductId/@ot.ProductFeatureImage" alt="" /></a>
                            <div class="r-sidebar-pro-content">
                                <h5><a href="#">@ot.ProductName</a></h5>
                                <p>
                                    @{
                                        if (ot.ProductDescription.Length > 40)
                                        {
                                            @(ot.ProductDescription.Substring(0, 39) + "...")
                                        }
                                        else
                                        {
                                            @ot.ProductDescription
                                        }
                                    }
                                </p>
                            </div>
                        </li>
                                        }


                </ul>
            </div>
            <!-- SINGLE SIDE BAR END -->
        </div>
        <!-- SINGLE SIDE BAR END -->
    </div>
</div>
