@model PagedList.IPagedList<ShoesProject.Models.Products>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- BSTORE-BREADCRUMB START -->
            <div class="bstore-breadcrumb">
                <a href="@Url.Action("Index","Home")">HOME</a>
                <span><i class="fa fa-caret-right"></i></span>
                <span></span>
            </div>
            <!-- BSTORE-BREADCRUMB END -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <!-- PRODUCT-LEFT-SIDEBAR START -->
            <div class="product-left-sidebar">
                <h2 class="left-title pro-g-page-title">Catalog</h2>
                <div class="product-single-sideba">
                    <span class="sidebar-title">Sort by</span>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "ListProduct", new { page = 1, orderBy = 1})">Price: Lowest first</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ListProduct", new { page = 1, orderBy = 2})">Price: Highest first</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ListProduct", new { page = 1, orderBy = 3})">Product Name: A to Z</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ListProduct", new { page = 1, orderBy = 4})">Product Name: Z to A</a>
                        </li>
                    </ul>
                </div>
                <!-- SINGLE SIDEBAR MANUFACTURER START -->
                <div class="product-single-sidebar">
                    <span class="sidebar-title">Brands</span>
                    <ul>

                        @foreach (var b in ViewBag.Brand)
                        {
                            <li>
                                <a href="@Url.Action("Index", "ListProduct", new { page = 1, brandId = b.id })">@b.name<span> (@b.product)</span></a>
                            </li>
                        }

                    </ul>
                </div>
                <!-- SINGLE SIDEBAR MANUFACTURER END -->
                <!-- SINGLE SIDEBAR SIZE START -->
                <div class="product-single-sidebar">
                    <span class="sidebar-title">Size</span>
                    <ul>
                        @foreach (var s in ViewBag.Size)
                        {
                            <li>
                                <a href="@Url.Action("Index", "ListProduct", new { page = 1, sizeId = s.SizeId })">@s.SizeValue</a>
                            </li>
                        }


                    </ul>
                </div>
                <!-- SINGLE SIDEBAR SIZE END -->
                <!-- SINGLE SIDEBAR COLOR START -->
                <div class="product-single-sidebar">
                    <span class="sidebar-title">Color</span>
                    <ul class="product-color-var">
                        @foreach (var c in ViewBag.Color)
                        {
                            <li>
                                <i class="fa fa-square color-beige" style="background:@c.ColorCode; color: @c.ColorCode"></i>
                                <a href="@Url.Action("Index", "ListProduct", new { page = 1, colorId = c.ColorId })">@c.ColorValue</a>
                            </li>
                        }


                    </ul>
                </div>
                <!-- SINGLE SIDEBAR COLOR END -->
            </div>
            <!-- PRODUCT-LEFT-SIDEBAR END -->
        </div>
        <div id="product_area">
            @{ Url.Action("Index", "ListProduct", new { id = 4, page = 1 });}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="right-all-product">
                <div class="product-shooting-area">
                    <!-- PRODUCT-SHOOTING-RESULT START -->
                    <div class="product-shooting-result">
                        <div class="showing-item">
                            <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @(Model.PageCount)</span>
                        </div>

                        <div class="showing-next-prev" id="product_area">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                               PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                               { HttpMethod = "GET", UpdateTargetId = "product_area" }))
                        </div>

                    </div>
                    <!-- PRODUCT-SHOOTING-RESULT END -->
                </div>
            </div>
            <!-- ALL GATEGORY-PRODUCT START -->
            <div class="all-gategory-product">
                <div class="row">
                    <ul class="gategory-product">
                        @foreach (var product in Model)
                        {
                            <li class="gategory-product-list col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="single-product-item">
                                    <div class="product-image">
                                        <a href="@Url.Action("Index", "ProductDetail",new { id = @product.id })" style="height:200px; width:200px"><img src="~/Admin/Content/ProductImages/@product.id/@product.imagesFeature" alt="product-image" height="100%" /></a>
                                        <a href="@Url.Action("Index", "ProductDetail",new { id = @product.id })" class="new-mark-box">
                                            @(product.discount > 0 ? "sale" : "")
                                        </a>
                                        <div class="overlay-content">
                                            <ul>
                                                <li><a href="#" title="Quick view"><i class="fa fa-search"></i></a></li>
                                                <li><a href="#" title="Quick view"><i class="fa fa-shopping-cart"></i></a></li>
                                                <li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <div class="customar-comments-box">
                                            <div class="review-box">
                                                @if (product.discount > 0)
                                                {
                                                    <span>@product.discount %</span>
                                                    <span class="old-price">@String.Format("{0:0,0 vnđ}", product.price)</span>
                                                }
                                            </div>
                                        </div>
                                        <a href="single-product.html">@product.name</a>
                                        <div class="price-box">
                                            <span class="price">
                                                @if (product.discount > 0)
                                                {
                                                    @String.Format("{0:0,0 vnđ}", (product.price - (product.price * product.discount) / 100))
                                                }
                                                else
                                                {
                                                    @String.Format("{0:0,0 vnđ}", product.price)
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- ALL GATEGORY-PRODUCT END -->
            <!-- PRODUCT-SHOOTING-RESULT START -->
            <div class="product-shooting-result product-shooting-result-border">
                <div class="showing-item">
                    <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @(Model.PageCount) </span>
                </div>
                <div class="showing-next-prev">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                               PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                               { HttpMethod = "GET", UpdateTargetId = "product_area" }))
                </div>
            </div>
            <!-- PRODUCT-SHOOTING-RESULT END -->

        </div>
    </div>
</div>
@*<script>
    $(function () {
        $("#productShort").select(function () {
            $.ajax({
                type: "POST",
                url: @Url.Action("Index", "ListProduct"),
                data: $("#productShort").val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert(result);
                }
            });
        });

    });
</script>*@



