@model IEnumerable<ShoesProjectModels.Model.Category>
@Styles.Render("~/Content/css");
    <div class="mobile-menu hidden-md hidden-lg" id="mob-menu">
        <span class="mobile-menu-title">MENU</span>
        <nav>
            <ul>
                <li>
                    <a href="@Url.Action("Index","Home")">Home</a>
                </li>
                @{
                    foreach (var item in Model)
                    {
                        if (@item.CategoryParentId == 0)
                        {
                            <li>
                                <a href="@Url.Action("Index", "ListProduct")">@item.CategoryName</a>
                                <ul>
                                    @{
                                        foreach (var item1 in Model)
                                        {
                                            if (item1.CategoryParentId == item.CategoryId)
                                            {

                                                <li>
                                                    <a href="@Url.Action("Index", "ListProduct")">@item1.CategoryName</a>
                                                    <ul>
                                                        @{
                                                            foreach (var item2 in Model)
                                                            {
                                                                if (item2.CategoryParentId == item1.CategoryId)
                                                                {
                                                                    <li><a href="@Url.Action("Index", "ProductDetail")">@item2.CategoryName</a></li>
                                                                }
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                                                }
                                                            }
                                    }
                                </ul>
                            </li>
                                                                }
                                                            }
                }
                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                <li><a href="@Url.Action("About","Home")">About us</a></li>
            </ul>
        </nav>
    </div>
