@model ShoesProjectModels.Model.Admin

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminIsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminIsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminIsDisabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminIsDisabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSuper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSuper)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdminId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
