@model ShoesProjectModels.Model.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductFeatureImage)
        </dt>

        <dd>
            <a class="sofancy" href="@Url.Content("~/Admin/Content/ProductImages/" + Model.ProductId + "/" + Model.ProductFeatureImage)"><img style="max-width: 200px" class="img-responsive img-thumbnail" src="@Url.Content("~/Admin/Content/ProductImages/" + Model.ProductId + "/" + Model.ProductFeatureImage)" alt="Alternate Text" /></a>
        </dd>
        <dt>
            Images
        </dt>

        <dd>
            <div id="imgList" class="row">
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section Scripts{
<script>
    $(document).ready(function () {
        $.when($.ajax({
                url: '@Url.Action("GetProductImages", "Products")',
                data: {
                    ProductId: @Model.ProductId,
                }
        })).then(function (imgs) {
            imgs.forEach(function (img, index) {
                $('#imgList').append('<div class="col-md-3"><a class="sofancy" href="@Url.Content("~/Admin/Content/ProductImages/" + Model.ProductId + "/")' + img.Image + '"><img style="max-width: 200px" class="img-responsive img-thumbnail" src="@Url.Content("~/Admin/Content/ProductImages/" + Model.ProductId + "/")' + img.Image + '" alt="Alternate Text" /></a></div>');
            });
            $('a.sofancy').fancybox();
        });

    })
</script>
}