@model IEnumerable<ShoesProjectModels.Model.OrdersDetail>
@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- BSTORE-BREADCRUMB START -->
            <div class="bstore-breadcrumb">
                <a href="@Url.Action("Index","MyAccount")">My Account</a>
                <span><i class="fa fa-caret-right"></i></span>
                <span>list Order Detail</span>
            </div>
            <!-- BSTORE-BREADCRUMB END -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="page-title">list Order Detail</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- SHOPING-CART-MENU START -->
            <div class="table-responsive">
                <!-- TABLE START -->
                <table class="table table-bordered" id="cart-summary">
                    <!-- TABLE HEADER START -->
                    <thead>
                        <tr>
                            <th class="cart-product text-center">Order Id</th>
                            <th class="cart-description text-center">Voucher</th>
                            @*<th class="cart-avail text-center">Instock</th>*@
                            <th class="cart-unit text-center">Address</th>
                            <th class="cart-unit text-center">Phone Number</th>
                            <th class="cart-unit text-center">Progress Status</th>
                            <th class="cart_quantity text-center">Order Status</th>
                            <th class="cart-total text-center">Price</th>
                        </tr>
                    </thead>
                    <!-- TABLE HEADER END -->
                    <!-- TABLE BODY START -->
                    <tbody>
                        @{
                            if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                    <!-- SINGLE CART_ITEM START -->
                                    <tr>
                                        <td class="cart-product">
                                            <a href="#">
                                                <img alt="Faded" src="~/Admin/Content/ProductImages/@item.ProductId/@item.Product.ProductFeatureImage">
                                            </a>
                                        </td>
                                        <td class="cart-description">
                                            <p class="product-name"><a href="#">@item.Product.ProductName</a></p>
                                            <small>@item.Product.Brand.BrandName</small>
                                            <small>@item.Product.Category.CategoryName</small>
                                            <small>Size : @item.Size.SizeValue, Color : @item.Color.ColorValue</small>
                                        </td>
                                        @Html.Hidden("Instock", @item.Product.Instock);
                                        <td class="cart-unit">
                                            <ul class="price text-right">
                                                <li class="price">@item.Product.ProductDiscount%</li>
                                            </ul>
                                        </td>
                                        <td class="cart-total">
                                            <ul class="price">
                                                <li class="price">@item.Product.ProductPrice vnđ</li>
                                            </ul>
                                        </td>
                                        <td class="cart-total">
                                            <ul class="price ">
                                                <li class="price">@item.OldPrice  vnđ</li>
                                            </ul>
                                        </td>
                                        <td class="cart_quantity text-center">
                                            <span>@item.Quantity</span>
                                        </td>
                                        <td class="cart-total">
                                            @{var total = item.OldPrice * item.Quantity; }
                                            <span class="price">@total  vnđ</span>
                                        </td>
                                    </tr>
                    <!-- SINGLE CART_ITEM END -->
                             }
                           }
                        }
                    </tbody>
                    <!-- TABLE BODY END -->
                    <!-- TABLE FOOTER START -->
                    <!-- TABLE FOOTER END -->
                </table>
                <!-- TABLE END -->
            </div>
            <!-- SHOPING-CART-MENU END -->
            <!-- CART TABLE_BLOCK START -->
            <!-- CART TABLE_BLOCK END -->
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- RETURNE-CONTINUE-SHOP START -->
        <div class="returne-continue-shop">
            <a href="@Url.Action("Index","MyAccount")" class="continueshoping"><i class="fa fa-chevron-left"></i>Back</a>
        </div>
        <!-- RETURNE-CONTINUE-SHOP END -->
    </div>

</div>





