
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- BSTORE-BREADCRUMB START -->
            <div class="bstore-breadcrumb">
                <a href="@Url.Action("Index","Home")">HOMe</a>
                <span><i class="fa fa-caret-right	"></i></span>
                <span>My account</span>
            </div>
            <!-- BSTORE-BREADCRUMB END -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="page-title">My account</h2>
            <h2>@TempData["msg"]</h2>
        </div>
        <div class="account-info-text">
            Welcome to your @Session["fullName"] . Here you can manage all of your personal information and orders.
        </div>
        <!-- ACCOUNT-INFO-TEXT START -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="account-info">
                <div class="single-account-info">
                    <ul>
                        <li><a href="@Url.Action("OrderHistory", "MyAccount")"><i class="fa fa-list-ol"></i><span>Order History</span>	</a></li>
                        <li><a href="@Url.Action("MyPersonalInformation","MyAccount")"><i class="fa fa-user"></i><span>Personal information</span></a></li>
                        <li><a href="@Url.Action("ChangePassword","MyAccount")"><i class="fa fa-user"></i><span>Change Password</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- ACCOUNT-INFO-TEXT END -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- BACK TO HOME START -->
            <div class="home-link-menu">
                <ul>
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-chevron-left"></i> Home</a></li>
                </ul>
            </div>
            <!-- BACK TO HOME END -->
        </div>
    </div>
</div>

